@import url(../css/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

:root {
    --white: #ededed;
    --black: #141414;
    --purpleDark: #591d90;
    --purple: #8c5db7;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}


body {
    font-size: 2.6rem;

    width: 100vw;
    background: linear-gradient(138deg, rgba(89,29,144,1) 0%, var(--black) 5%, var(--black) 100%);

}

header {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2.4rem;
    transition: 1s;

    z-index: 1;
}

.background-header {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.6) 50%, rgba(20, 20, 20, 0) 100% )
    
}

.header-logo {
    width: 7.2rem;
    cursor: pointer;
}

.header-logo-mobile{
    display: none;
}

#hambMenu {
    display: none;
}

.header-nav {
    display: flex;
    font-size: 1.6rem;
    gap: 4rem;
}

.header-nav-text {
    font-family: 'sequelsansbookbody';
    color: var(--white);
    transition: color 0.2s ease-in-out;
    text-decoration: none !important;
}

.header-nav *:hover {
    color: var(--purpleDark)
}

.header-nav-text-bold {
    font-family: 'sequelsansboldbody';
    color: var(--white);
    transition: color 0.2s ease-in-out;
    text-decoration: none !important;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 10.4rem;

    gap: 6.4rem;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4.8rem;


}

.landing-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2.4rem;
}

.landing-image {
    width: 60%;
    max-width: 60rem;
}

.landing-right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
}

.landing h2 {
    margin-top: 14.2rem;
    font-family: 'sequelsansheavyhead';
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    font-size: 5rem;

    width: 60rem;
}


.landing-button {
    font-family: 'sequelsansheavyhead';
    color: var(--white);
    background: var(--purple);

    border-radius: 1.6rem;
    border: 0;
    padding: 1.6rem 3.2rem;
    transition: background 0.3s ease-in-out;

    font-size: 1.6rem;
    
}

.landing-button:hover{
    background: #591d90;
    
}

.landing-arrow-down {
    transform: rotate(90deg);
    width: 2.4rem;

    margin-bottom: 5.6rem;

}



.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
}

#presentation-img {
    display: block;
    border: .2rem solid var(--purpleDark);
    border-radius: 2.4rem;
    width: 100%;
    height: 60rem;
    margin: 4rem auto 0; /* centraliza horizontalmente */

    background: linear-gradient(120deg, rgba(140,93,183,0.2) 0%, rgba(140,93,183,0.3) 35%, rgba(140,93,183,0.1) 100%);

 }

.presentation p {
    font-family: 'sequelsansromanhead';
    color: var(--white);
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
}

.presentation-texto-negrito {
    font-family: 'sequelsansheavyhead';
    color: var(--white);
}

.presentation-quadrado {
    background-image: url('../img/striped square.png');
    background-position: center;
    width: 5rem;
    height: 5rem;
 }
 
.presentation-subtitle {
    color: var(--white);
    align-self: flex-start;
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-top: 2.4rem;
}

.presentation-subtitle h4 {
    font-family: 'codecproextrabold';

    font-size: 4rem;
    font-weight: 500;
}

.presentation-subtitle h5 {
    font-family: 'codecproextralight';

    font-size: 1.6rem;
    font-weight: 300;
}

.presentation-subtitle h5::after {
    content: '';
    display: inline-block;
    width: 8.8rem;
    height: .1rem;
    background: var(--purpleDark);
    border: .1rem solid var(--purpleDark);

    margin-left: .8rem;

}

 #chess-square-1 {
    top: 5rem;
    left: 0;
 }
 
#chess-square-2 {
    top: 5rem;
    right: 0;
 }

.goals {
    margin-top: 11.2rem;

    padding: 3.2rem;

    display: flex;
    justify-content: space-evenly;

    color: var(--white);

    background: linear-gradient(317deg, rgba(0,0,0,1) 22%, rgba(0,0,0,0.8) 78%);
    margin: 0 -10.4rem;

}

.goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 1.6rem;

    padding: 0 4rem;
}

.goal p {
    font-family: 'sequelsansbookbody';
    color: var(--white);

    font-size: 1.4rem;
    padding: 0 1.6rem;
}

.goal img {
}

.goal h2 {
    font-family: 'codeccoldlogobold';
    letter-spacing: 0.05em;
    color: var(--white);

    font-size: 3.2rem;
}

section.cases {    
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    padding: 3.2rem;


    background: linear-gradient(45deg, rgba(140,93,183,0.4) 0%, rgba(140,93,183,0.7) 35%, rgba(140,93,183,0.9) 100%);

    margin: 0 -10.4rem;


}

.cases-left-box {

    max-width: 32.4rem;
}

.cases-left-box h1 {
    font-family: 'sequelsansheavyhead';
    color: var(--white);
    font-size: 6rem;
    line-height: 96%;
}

.cases-left-box p {
    font-family: 'sequelsanslightbody';
    color: var(--white);
    font-size: 1.6rem;
    letter-spacing: 0.025em;
}

#carouselFirstIndicators {
    max-width: 80rem;

}

#carouselFirstIndicators img {
    max-height: 50rem;
    object-fit: contain;

}

#carouselFirstIndicators .case-caption {
    margin-top: 2.4rem;
    font-size: 1.6rem;
}


.cases-left-box img {
}
.cases img {
}

.cases-carousel {
}

.case1 {
}

.case2 {
}

.case3 {
}

.case4 {
}

.case-image {
}

.case-caption {
}

.case-title {
    font-family: 'sequelsansblackbody';
    color: var(--purple);
    font-weight: 600;
}

.case-pipe {
    font-family: 'sequelsansmediumbody';
    color: var(--purple);
}

.case-number {
    font-family: 'sequelsansheavybody';
    color: var(--white);
}

.case-text {
    font-family: 'sequelsansmediumbody';
    color: var(--white);
}


.fontIcon {
    width: 3.5rem;
    height: 3.5rem;
}

.depositions {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 3.2rem;
}

.depositions h1 {
    font-family: 'sequelsansheavyhead';
    color: var(--white);

    font-size: 6.4rem;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, rgba(140,93,183,0.4) 0%, rgba(140,93,183,0.7) 35%, rgba(140,93,183,0.9) 100%);

    margin: 0 -10.4rem;
}

.service h1 {
    font-family: 'sequelsansheavyhead';
    color: var(--white);
    font-size: 6.4rem;
}

.service img {
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form img {
    width: 8.8rem;
}

.form-input {
    width: 100%;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.form-input .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.input-wrapper:focus {
    color: var(--purple);
}

.input-wrapper input {
    border: 0;
    border-radius: 999rem;
    padding: .8rem 1.6rem;

    transition: .3s;

}

.input-wrapper input:focus-within {
    outline: 4px solid var(--purpleDark);

}

.form-text {
    font-family: 'sequelsansheavyhead';
    color: var(--white);

}

p.form-subtext {
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 500;

    margin-top: .4rem;
}

.conta-label {
}

.form-button {
    font-family: 'sequelsansheavyhead';
    color: var(--white);
    background: var(--purple);

    border-radius: 1.6rem;
    border: 0;
    padding: 1.6rem 3.2rem;
    transition: background 0.3s ease-in-out;

    font-size: 2.4rem;
}

.form-button:hover {
    background: var(--purpleDark);
}

.form-subtext {
    font-family: 'sequelsansbookbody';
    color: var(--purpleDark);
}

footer {
    display: flex;

    padding: 4.8rem 11.2rem;
    margin-top: 16.8rem;
}

.footer-left {
    width: 60%;

}

.footer-left img {
    width: 13.6rem;
    margin-bottom: 1.6rem;
}

.footer-left p {
    font-family: 'sequelsansbookdisp';
    color: var(--white);
    font-size: 2.2rem;
}

.divisor {
    width: .4rem;
    height: 16rem;

    align-self: center;

    background: var(--white);
}

.footer-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 3.2rem;
}

.footer-right img.destrave-logo {
   width: 38.4rem;
}

.footer-box {
    width: 100%;
}

.footer-box h3 {
    font-family: 'sequelsansboldbody';
    color: var(--white);
}

.footer-buttons {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
}

.footer-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background: var(--white);

    transition: .5s;
}

.footer-buttons a:hover {
    opacity: 40%;
}

.footer-buttons a ion-icon {
    font-size: 3.2rem;
    color: var(--black);
}

.footer-buttons img {
}


@media (max-width: 1160px) {
    /* header e navbar lateral */
    .header-logo {
        display: none;
    }

    .header-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-logo-mobile {
        display: block;
        width: 4rem;
        object-fit: contain;
    }

    .header-nav {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;

        background: var(--black);
        width: 50%;
        height: 100vh;

        z-index: 2;
        text-transform: uppercase;
        text-align: center;
        transform: translateX(-100%);

        transition: .5s ease-in-out;
    }

    .open-header-nav {
        transform: translateX(0%);
    }

    #hambMenu {
        display: block;
        color: var(--white);
        font-size: 4rem;
        cursor: pointer;
    }

    .close {
        cursor: pointer;
        color: var(--white);
        font-size: 3.2rem;
        margin: 2.4rem 1.6rem;
    }

    #app {
        padding: 2.4rem 3.2rem;

        gap: 1.6rem;
    }

    /* Landing */

    .landing-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }

    .landing-image {
        width: 26.4rem;
    }

    .landing-right-wrapper h2 {
        width: 100%;
        margin-top: 0;
        font-size: 1.6rem;
    }

    .presentation {
        width: 100%;

    }

    #presentation-img {
        height: 19.2rem;
        margin: .4rem auto 0; /* centraliza horizontalmente */
        border-radius: 1.2rem;
    }

    .presentation p {
        font-size: 1.4rem;
    }

    .presentation-subtitle {
        margin-top: 1.2rem;

    }

    .presentation-subtitle h4 {
        font-size: 2.4rem;
        margin: 0;
    }

    .presentation-subtitle h5 {
        margin: 0;
        font-size: 1.2rem;
    }

    /* Section Goals */

    .goals {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 -3.2rem;

        gap: 3.2rem;

    }

    .goal {
        gap: .4rem;

        padding: 0 1.6rem;


    }

    .goal img {
        width: 8rem;
    }

    .goal p {
        font-family: 'sequelsansbookbody';
        color: var(--white);
    
        font-size: 1.4rem;
        padding: 0;
    }
    
    
    
    .goal h2 {
        font-family: 'codeccoldlogobold';
        letter-spacing: 0.05em;
        color: var(--white);
    
        font-size: 2.6rem;
    }

}